[tool.poetry]
name = "certificates"
version = "1.1.0"
description = "Generate event certificates easily."
readme = "README.md"
homepage = "https://github.com/cassiobotaro/certificates"
authors = ["cassiobotaro <cassiobotaro@gmail.com>"]
license = "Apache-2.0"
packages = [{include = "certificates"}]

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]
black = "^22.6"
flake8 = "^5.0.4"
isort = "^5.10.1"
pytest = "^7.2.0"
pytest-cov = "^3.0.0"

[tool.poetry.scripts]
certificates = "certificates.__main__:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.black]
skip-string-normalization = true
line-length = 79

[tool.isort]
profile = "black"
line_length = 79
